* {
    margin: 0;
    padding: 0;
    --width-bar: 35vw;
    --width-form: calc(100vw - var(--width-bar));
}

@font-face {
    font-family: 'Norse';
    src: url(./fonts/Norse-Bold.otf), format('otf');
    font-weight: normal;
    font-style: normal;
}


/* side content */
.sidebar {
    height: 100vh;
    width: var(--width-bar);
    position: fixed;
    overflow: hidden;

    background-color: darkolivegreen;
    text-align: center;
}

#sideImg {
    max-height: 100%;
    width: auto;
}

/* bar */
.bar {
    height: 20vh;
    width: 100%;
    
    position: absolute;
    top: 20vh;
    background-color: rgb(0,0,0, 40%);
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.odin {
    height: 80%;
    max-width: 30%;
}

.name {
    max-width: 50%;
    font-size: 3rem;
    font-family: 'Norse', sans-serif;
}

.credit {
    position: absolute;
    width: 100%;
    bottom: 25px;

    font-size: calc(10px + 0.5vw);
    color: rgb(228, 240, 245);
}

a {
    color: rgb(228, 240, 245);
}

/* next to it lmao */
.form {
    position: fixed;
    left: var(--width-bar);
    width: var(--width-form);
    height: 100vh;

    background-color: lightgray;
    color: blue;
}